In [2]:
import pandas as pd

zips = pd.Series({'Boston': '02215', 'Miami': '3310'})

zips

Boston    02215
Miami      3310
dtype: object

In [3]:
#See fi each zip is exactly 5 digits
zips.str.match(r'\d{5}')

Boston     True
Miami     False
dtype: bool

In [4]:
cities = pd.Series(['Boston, MA 02215', 'Miami, FL 33101'])

cities

0    Boston, MA 02215
1     Miami, FL 33101
dtype: object

In [5]:
#Use str.contains() and regular expressions to see if each entry includes letters
cities.str.contains(r' [A-Z]{2} ')

0    True
1    True
dtype: bool

In [6]:
#Use str.match() to see if it exactly matches the defined pattern
cities.str.match(r' [A-Z]{2} ')

0    False
1    False
dtype: bool

In [11]:
print('Lee Jones')

Lee Jones

In [7]:
contacts = [['Mike Green', 'demo1@dietel.com', '5555555555'], 
            ['Sue Brown', 'demo2@dietel.com', '5555551234']]

contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@dietel.com  5555555555
1   Sue Brown  demo2@dietel.com  5555551234

In [8]:
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [9]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [10]:
contactsdf['Phone'] = formatted_phone

contactsdf

         Name             Email         Phone
0  Mike Green  demo1@dietel.com  555-555-5555
1   Sue Brown  demo2@dietel.com  555-555-1234

In [12]:
print('Lee Jones')

Lee Jones